<ion-view view-title="Home">
    <ion-content class="has-header padding">
        <div class="list">
            <div class="item item-divider">
                      Destination Device
            </div>                  
            <a class="item" ng-if="selectedPrinter.printer.portName" ng-click="printerTypePopup()">
                    <p>Name: {{selectedPrinter.printer.portName}}</p>
                    <p>MacAddress: {{selectedPrinter.printer.macAddress}}</p>
            </a>
            <a class="item" href="#" ng-if="!selectedPrinter.printer.portName" ng-click="printerTypePopup()">
                    Select a printer...
            </a>
            <div class="item item-divider">
                    Printer
            </div>                              
            <a class="item item-icon-right" ng-click="printRawText()">
                    <p>Print Raw Text Sample</p>                    
                    <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            
            <a class="item item-icon-right" ng-click="printRasterReceipt()">
                    <p>Print Raster Receipt (3")</p>
                    <i class="icon ion-chevron-right icon-accessory"></i> 
            </a>
            <a class="item item-icon-right" ng-click="printFromCamera()">
                        <p>Print From Camera</p>
                        <i class="icon ion-chevron-right icon-accessory"></i> 
                </a>
            <a class="item item-icon-right" ng-click="printFromLibrary()">
                        <p>Print From Photo Library</p>
                        <i class="icon ion-chevron-right icon-accessory"></i> 
            </a>
            <div class="item item-divider">
                    Device Status
            </div>                              
            <a class="item item-icon-right" ng-click="showPrinterStatusModal()">
                    <p>Sample</p>                    
                    <i class="icon ion-chevron-right icon-accessory"></i>
            </a>                                     
                                               
        </div>

    </ion-content>
</ion-view>